@page "/counter"

@inject HttpClient _http

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p>Text: @currentCount</p>

@code {
    [Parameter]
    public int currentCount { get; set; } = 0;

    private async void IncrementCount()
    {
        currentCount++;
    }
}
