@page "/counter"

@inject HttpClient _http

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<AuthorizeView>
    <Authorized>
        authorized
    </Authorized>   
    <NotAuthorized>
        Unauthorized
    </NotAuthorized>
</AuthorizeView>

@code {
    private int currentCount = 0;

    private async void IncrementCount()
    {
        await _http.PostAsJsonAsync("/api/register", new {message = "asdf"});
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }
}
