@page "/fetchdata"

<svg @onclick="Kriu" style="background-color:aquamarine; width:800px; height:800px;">

</svg>

<br />
<a>x</a>
<a>y</a>

<button @onclick="Kriu">asdf</button>

@code {

    void Kriu()
    {
        Console.WriteLine("kriu");
    }

    double x;
    double y;
}