@page "/"
@using MudBlazor
@using ZooIS.Client.Services.UserSettingsService;
@inject IUserSettingsService SettingsService

<h3>Main Screen...</h3>
<div>
<MudText Typo="Typo.h1">DYYYYDELIS uzrasas</MudText>
</div>
<br />
<AuthorizeView>
    <h3>
        Logged in as: @context.User.Identity!.Name
    </h3>
</AuthorizeView>
<hr />

@code {
    bool loaded = false;
    UserSettings? Settings;

    protected override async Task OnInitializedAsync()
    {
        //Settings = await SettingsService.GetSettings(1);
        loaded = true;
    }
}