@page "/"
@using ZooIS.Client.Services.PicturesService
@using ZooIS.Shared.Models.MapAreaModels;
@inject IPicturesService _picturesService
@inject IDialogService _dialogService

@if (loaded)
{
    <MudButton OnClick="Kriu">Kriu</MudButton>
}


<div style="height:500px; width:500px; background-image:url(api/pictures/0)"></div>


@code {
    bool loaded;

    MudImage? image;

    protected override Task OnInitializedAsync()
    {

        loaded = true;
        return base.OnInitializedAsync();
    }

    async void Kriu()
    {
        Coordinates smth = await _picturesService.GetPictureCoordinates(0);
    }
}