@page "/test"

@using ZooIS.Client.Dialogs;

<PageTitle>Test</PageTitle>
<h1>Hello, world!</h1>

Welcome to your new app.

<div>
    <button value="DeleteTest" @onclick="Delete_Click">
        DeleteTest
    </button>
</div>

<TestConfirmBox @ref="confirmBox" UserChoice="ConfirmDelete_Click" />

@code{
    protected TestConfirmBox confirmBox { get; set; }

    protected void Delete_Click()
    {
        confirmBox.Show("Delete Button is Clicked");
    }

    protected async Task ConfirmDelete_Click(bool deleteConfirmed)
    {
        if(deleteConfirmed)
        {
            Console.WriteLine("Got value: " + deleteConfirmed);
        }
    }


}