@page "/map"
@using ZooIS.Client.Services.AreasService
@using ZooIS.Client.Services.ZooMapService
@inject IDialogService _dialogService
@inject IZooMapService _zooMapService
@inject IAreasService _areasService

<PageTitle>Map</PageTitle>

@if (loaded)
{
    <MudPaper Elevation="0" Style="overflow:scroll; ">
        <ZooMapComponent MapPartId="MapResponse"></ZooMapComponent>
    </MudPaper>
}
else
{
    <span>Žemėlapio įkėlimas...</span>
}

@code {
    bool loaded;

    protected override async Task OnInitializedAsync()
    {
        await _zooMapService.GetMap();
        loaded = true;
    }

    // informacijos lango atidarymui
    async void MapResponse(int nr)
    {
        Area area = await _areasService.GetArea(nr);
        var parameters = new DialogParameters();
        parameters.Add("Area", area);
        await _dialogService.ShowAsync<AreaInfoDialog>("AnyTitle", parameters);
    }
}
